@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  position: relative; }
  body p {
    padding: 10px; }

#ca-specials {
  width: 900px; }
  #ca-specials .ca-message {
    font-size: 18px !important;
    line-height: 1.5em; }
  #ca-specials [class*="ca-btn-"] {
    text-transform: none !important; }
  #ca-specials p.counter {
    margin: 20px 0 0 0;
    padding: 20px; }
  #ca-specials .ca-print {
    position: relative; }
    #ca-specials .ca-print .ca-print-icon {
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.5);
      padding: 10px; }

.dev-excluded {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e2e2e2; }

.dev-included .one {
  color: blue; }

.dev-included .two {
  color: teal; }

.dev-included .three {
  color: red; }

.ca-special .ca-row {
  padding: 0 !important; }

.ca-special .ca-space {
  padding: 10px 0 !important; }

.dev {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #e2e2e2; }

.dev p {
  padding: 0; }
